@model ITO.ViewModels.Sections.UnitViewModel
@{ 
    ViewBag.Title = "Удаление Unit";
} 
    <div>
        <dl class="dl-horizontal">
            <dt>Имя</dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
        <div>
            @if (Model.YearEvents.Count > 0)
            {
                <h4>
                    Удалить не возможно <br />
                    есть  предложения годового плана используещие данный фильтр
                </h4>
            }
            else
            {
                <form asp-action="DeleteUnit" asp-route-id="@Model.Id" method="post">
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" value="Удалить" />
                    </div>
                </form>
            }
        </div>
    </div>

