@model IEnumerable<ITO.Models.Agency>
@{
    ViewBag.Title = "Все учреждения";
}
<a asp-action="Create">Добавить учреждение</a>
<table class="table">
    
    @foreach (var agency in Model)
    {
        <tr>
            <td>@agency.Name</td>
            <td>
                <a asp-action="Details"  asp-route-id="@agency.Id" asp-route-DataYearVM="@DateTime.Now.Year.ToString()">Подробнее</a> |                
                <a asp-action="Delete"  asp-route-id="@agency.Id">Удалить</a>
            </td>
        </tr>
     }

</table>