@model IEnumerable<ITO.Models.YearEvent>
@{
    ViewData["Title"] = "Годовой план";
}
<table class="table">

    @foreach (var item in Model)
    {
    <tr>
        <th>Номер</th>
        <th>Мероприятие</th>
        <th>Запланировано</th>
        <th>Ед. изм.</th>
    </tr>
    <tr>       
        <td>@item.Number</td>
        <td>@item.EventText</td>        
        <td>@{int x=  item.FirstQuarter + item.SecondQuarter + item.ThirdQuarter + item.FirstQuarter;}@x</td>        
        <td>@item.Unit</td>        
        <td>            
            <a asp-action="Execute" class="btn btn-primary" asp-route-id="@item.Id">Выполнить</a>
        </td>
    </tr>
    }

</table>

